#tabela-area {
    grid-area: tabela;
    height: 500px;
    max-height: 500px;
    overflow: auto;
    scrollbar-width: thin;
    background-color: #84A98C;
}

#tabela {
    width: 100%;
    border-collapse: collapse;
}

.coluna-status {
    width: 60px;
    text-align: center;
    vertical-align: middle;
}
.coluna-status > * {
    display: block;
    margin: auto;
}

.coluna-nome,
.coluna-preco {
    font-weight: bold;
    width: 200px;
    text-align: left;
}

.coluna-acao {
    width: 150px;
}

th {
    position: sticky;
    top: 0;
    padding: 8px 5px 8px 5px;
    background-color: #84A98C;
    box-shadow: 0px 1px 0px  #192422;
}

td {
    padding: 5px;
}

tr {
    border-bottom: 1px solid #192422;
    height: 5px;
    vertical-align: middle;
}

tr:first-child {
    border-bottom: none;
}

#remover {
    opacity: 50%;
    font-weight: bold;
    color: #192422;
    background: none;
    border: none;
    padding: 2px;
    width: 100%;
    transition: 0.2s;
}

#remover:hover {
    transition: 0.2s;
    color: #2F3E46;
    cursor: pointer;
}

.completo {
    background-color: #6B917E;
    transition: 0.3s;
}

.completo > .coluna-nome {
    text-decoration:line-through;
}

.incompleto {
    transition: 0.3s;
    background-color: #84A98C;
}